Flask==3.0.2
Flask-APScheduler==1.13.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
MarkupSafe==2.1.5
Paste==3.7.1
SQLAlchemy==2.0.27
Werkzeug==3.0.1
WTForms==3.1.2
alembic==1.13.1
beautifulsoup4==4.12.3
bootstrap-flask==2.3.3
cachetools==5.3.3
humanize==4.9.0
pyben==0.3.2
pydantic==2.6.3
requests==2.31.0
waitress==3.0.0
