Flask==2.0.3
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
Paste==3.5.0
SQLAlchemy==1.4.31
Werkzeug==2.0.3
WTForms==3.0.1
alembic==1.7.6
beautifulsoup4==4.10.0
bootstrap-flask==2.0.1
cachetools==5.0.0
humanize==4.0.0
pydantic==1.9.0
pytz==2021.3
requests==2.27.1
waitress==2.0.0
