{% extends "layout.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}
<h1>
    <img class="poster" src="{{ series.poster }}" alt="{{ series.title }}" />
    {{ series.title }}
</h1>
{{ render_form(form, form_type='horizontal') }}
<div class="d-flex justify-content-between">
    <a class="btn btn-danger" href="{{ url_for('ui.delete', source_id=source.id) }}">Delete</a>
    <div>
        <a class="btn btn-secondary" href="{{ url_for('ui.index') }}">Cancel</a>
        <label class="btn btn-primary" for="submit">Submit</label>
    </div>
</div>
{% endblock %}
