{% extends "layout.html" %}

{% block content %}
<table class="table table-hover">
<thead>
    <tr>
        <th>Title</th>
        <th>Season</th>
    </tr>
</thead>
<tbody>
{% for ss in series_sources %}
    <tr{% if ss.source.error %} class="table-danger"{% endif %}>
        <td>
            <img class="icon px-2" src="{{ ss.series.poster }}" alt="{{ ss.series.title }}" />
            <span class="px-2">{{ ss.series.title }}</span>
            <span class="font-italic text-muted">({{ ss.series.year }})</span>
        </td>
        <td>{{ ss.source.season }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
