{% extends "layout.html" %}

{% block content %}
<div class="d-flex justify-content-between">
    <a class="btn btn-success" href="{{ url_for('ui.add') }}">Add</a>
    <a class="btn btn-dark" href="{{ url_for('ui.settings') }}">Settings</a>
</div>
<table class="table table-hover align-middle">
<thead>
    <tr>
        <th>Title</th>
        <th>Season</th>
        <th>Updated</th>
    </tr>
</thead>
<tbody>
{% for ss in series_sources %}
    <tr{% if ss.source.error %} class="table-danger"{% endif %}>
        <td>
            <img class="poster px-2" src="{{ ss.series.poster }}" alt="{{ ss.series.title }}" />
            <a class="px-2" href="{{ url_for('ui.edit', source_id=ss.source.id) }}">{{ ss.series.title }}</a>
        </td>
        <td>{{ ss.source.season }}</td>
        <td>{{ ss.source.updated }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
