<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
{{ bootstrap.load_css() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>PickPockett</title>
</head>
<body>
<div class="container">
<header class="h1 p-3 bg-dark text-light">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="PickPockett" />
    <span class="align-middle">PickPockett</span>
</header>
{% block content %}{% endblock %}
</div>
</body>
</html>
